* {
    background-color:#0b122e;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Truculenta';
}

@media screen and (max-width: 480px) {
    * {
        /* overflow-x: hidden; */
    }
}